<!-- progressbar fixed -->
<div class="progress-bar-container">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="showProgressBar"
  ></mat-progress-bar>
</div>

<div class="container">
  <h1 class="title">Detail post with the ID {{ post.id }}</h1>
  <mat-card class="mat-elevation-z8">
    <!-- for omit margin -->
    <div>
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      <mat-card-subtitle style="display: flex; justify-content: space-between;">
        <span>User id: {{ post.userId }}</span>
        <span>Last comment: {{ labelLastComment }}</span>
      </mat-card-subtitle>
    </div>

    <mat-card-content>
      <p>{{ post.body }}</p>

      <app-comments
        [postId]="post.id"
        (lastCommentDate)="handleGetLastCommentDate($event)"
        (loading)="handleLoadingComments($event)"
      ></app-comments>
    </mat-card-content>

    <mat-card-actions>
      <button
        (click)="handleClickBack()"
        [disabled]="showProgressBar"
        mat-button
      >
        BACK
      </button>
    </mat-card-actions>
  </mat-card>
</div>
